<div class="side-bar-header">
  <div class="user-name">
    <a href="#">user-name</a>
  </div>
  <div class="new-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-list">
      <a href="#">hogeroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-list">
      <a href="#">hogeroom2</a>
    </div>
  </div>
</div>